body {
  background-image: url("images/background.jpg");
  font-family: "Piazolla Medium";
}
a {
  color: yellow;
  text-decoration: none;
}

h1 {
  text-align : center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
h5 {
  color: white;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  text-align: center;
}

label{
  color: white; 
  text-shadow: 2px 2px 4px #000000;
}

textarea{
  background-color: rgb(62, 124, 62);
}

.nav-link{
  color: white;
}

.links{
  text-align: center;
}

.page-header{
  text-align: center;
}



#name{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkgreen;
}

#bio{
  color: white;
}

#formGroupInput1{
  color: white;
  background-color: rgb(121, 121, 55);
}

#formGroupInput2{
  color: white;
  background-color: rgb(121, 121, 55);
}

#FormControlTextarea{
     color: white;
  background-color: rgb(121, 121, 55);
}
